.info-text {
    /* margin: 43px 70px 36px 70px; */
    margin-bottom: 30px;
}

#theme2 {
    margin: 50px 70px;
}

#resume-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 25%;
}